{{>header}}
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">User</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- User -->
<div class="container">
  <section class="seccion-perfil-usuario">

    <img class ="w3-round" src="images/avatar2.jpg" alt="img-avatar" style="width:13%">
    <button type="button" class="btn1">Cambiar foto</button>

    <div class="profile tabShow">
      <h2> Name</h2>
        <input type=" text" class ="setting" value="Jane Doe">
      <h2> Mail</h2>
        <input type="text" class=" setting" value ="Janedoe@gmail.com">
      <h2> Password</h2>
        <input type="password" class=" setting" value ="gatitos33">
      <button class="btn1">Update</button>
    </div>
  </section>

  <br> <br>

  <h2 class="titulo2">Juegos Comprados</h2>
  <table class="timetable_sub">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Fecha</th>
      <th>Price</th></tr>
    </thead>
    <tr class="rem1">
      <td class="invert">Red dead redemption II</td>
      <td class="invert">15/02/2022</td>
      <td class="invert">60€</td>
    </tr>
    <tr class="rem1">
      <td class="invert">Red dead redemption II</td>
      <td class="invert">15/02/2022</td>
      <td class="invert">60€</td>
    </tr>

  </table>
  <br> <br>
  <h2 class="titulo">Juegos Vendidos</h2>
  <table class="timetable_sub">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Fecha</th>
      <th>Price</th></tr>
    </thead>
    <tr class="rem1">
      <td class="invert">Mario Kart 8 </td>
      <td class="invert">15/02/2022</td>
      <td class="invert">20€</td>
    </tr>
    <tr class="rem1">
      <td class="invert">witcher 3</td>
      <td class="invert">16/02/2022</td>
      <td class="invert">10€</td>
    </tr>

  </table>
</div>
<!-- //User -->
{{>footer}}