
{{>header}}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Add product</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Game Form</h3>
			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				<form>
					<input placeholder="Game's name" required=" " >
					<input placeholder="Description" required=" " >
					<input placeholder="Game's price (buy)" required=" " >
					<input placeholder="Game's price (sell)" required=" " >
					<!--<input placeholder="Imagen" required=" " >-->
					<input type="file" value="Browse">
					<input type="submit" value="Add">
				</form>
			</div>
			<h4 class="animated wow slideInUp" data-wow-delay=".5s">For New Products</h4>
			<!--
			<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="register.html">Register Here</a> (Or) go back to <a href="index.html">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
			-->
		</div>
	</div>
<!-- //login -->
{{>footer}}