<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
</style>
<title>Best Gaming a Ecommerce Online Gaming Store| Single :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery.min.js"></script>
<!-- //js -->
<!-- cart -->
	<script src="js/simpleCart.min.js"> </script>
<!-- cart -->
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- animation-effect -->
<link href="css/animate.min.css" rel="stylesheet">
<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 <span>567</span> 892</li>
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="login.html">Login</a></li>
						<li><i class="glyphicon glyphicon-game" aria-hidden="true"></i><a href="register.html">Register</a></li>
					</ul>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="index.html">Best Gaming <span>Shop anywhere</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Categories</h6>
												<li><a href="products.html">Strategy</a></li>
												<li><a href="products.html">Role-playing</a></li>
												<li><a href="products.html">Shooters</a></li>
												<li><a href="products.html">Sports</a></li>
												<li><a href="products.html">Puzzles</a></li>
												<li><a href="products.html">Survival</a></li>
												<li><a href="products.html">Classics</a></li>
											</ul>
										</div>


										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li><a href="Addgames.html">ADD GAMES</a></li>

						</ul>
					</div>
					</nav>
				</div>
				<div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
				</div>
				<div class="header-right">
					<div class="cart box_1">
						<a href="Usuario.html">
							<h3 class="total">User</h3>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->

<!-- single -->

	<div class="single">
		<h2>Game "{{game.title}}"</h2>
		{{#game.image}}
		<img src="/game/{{game.id}}/image">
		{{/game.image}}

		{{^game.image}}
		<img src="/images/no_image.png">
		{{/game.image}}
		<div>
			<p>{{game.description}}</p>
		</div>
	<!--
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
					<h3>Filtrar por precio</h3>
					<ul class="dropdown-menu1">
							<li><a href="">								               
							<div id="slider-range"></div>							
							<input type="text" id="amount" style="border: 0" />
							</a></li>	
					</ul>
						<script type='text/javascript'>//<![CDATA[ 
						$(window).load(function(){
						 $( "#slider-range" ).slider({
								range: true,
								min: 0,
								max: 120,
								values: [ 0, 60 ],
								slide: function( event, ui ) {  $( "#amount" ).val( ui.values[ 0 ] + "€ - " + ui.values[ 1 ] + " €");
								}
					 });
					$( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +"€ - " + $( "#slider-range" ).slider( "values", 1 ) + "€");


						});//]]>
						</script>
						<script type="text/javascript" src="js/jquery-ui.min.js"></script>

				</div>
				<div class="categories animated wow slideInUp" data-wow-delay=".5s">
					<h3>Categories</h3>
					<ul class="cate">
						<li><a href="games.html">Super ventas</a> <span>(15)</span></li>
						<li><a href="games.html">Recomendado para ti</a> <span>(16)</span></li>
					</ul>
				</div>
				
			</div>
			<div class="col-md-8 single-right">
				<div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="images/si.jpg">
								<div class="thumb-image"> <img src="https://s1.gaming-cdn.com/images/products/5679/271x377/juego-rockstar-red-dead-redemption-2-standard-edition-cover.jpg" data-imagezoom="true" class="img-responsive"> </div>
							</li>
							
						</ul>
					</div>
					<!-- flixslider -->
						<script defer src="js/jquery.flexslider.js"></script>
						<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					<!-- flixslider -->
				</div>
				<div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
					<h3>Red Dead Redemption II</h3>
					<h4><span class="item_price">55€</span></h4>
					<div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
					</div>
					<div class="Descripción">
						<h5><i>Descripción</i></h5>
						<p>La razón de la popularidad del juego no es difícil de entender. A diferencia de otros juegos en los que el caos y la destrucción son la clave, este juego te permite sumergirte en la belleza de los paisajes del Salvaje Oeste, y formar lazos de empatía y afecto con otros jugadores y con PNJs (personajes no jugables) en los momentos de calma que se te presenten entra una secuencia de acción y otra – ¡de las cuales hallarás de sobra!.</p>
					</div>
					
					<div class="occasional">
						<h5>Occasion :</h5>
						<div class="colr ert">
							<label class="radio"><input type="radio" name="radio" checked=""><i></i>Nuevo</label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Como nuevo</label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Usado</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="occasion-cart">
						<a class="item_add" href="#">Comprar </a>
					</div>
					
				</div>
				<div class="clearfix"> </div>
				<div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Descripción</a></li>
							<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Comentarios(2)</a></li>
							
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
								<h5>Descripción completa del producto</h5>
								<p>Red Dead Redemption 2 para PC es un juego de acción y aventuras de mundo abierto en el que el jugador puede vagar libremente. Cuenta algunos elementos en tercera persona, además de otras modalidades de juego en primera persona. El jugador puede cometer crímenes, pero de hacerlo deberá estar preparado para ser perseguido por las fuerzas del orden, ¡quienes estarán dispuestas a hacer valer todo el peso de la ley sobre los delincuentes!

									<span>La razón de la popularidad del juego no es difícil de entender. A diferencia de otros juegos en los que el caos y la destrucción son la clave, este juego te permite sumergirte en la belleza de los paisajes del Salvaje Oeste, y formar lazos de empatía y afecto con otros jugadores y con PNJs (personajes no jugables) en los momentos de calma que se te presenten entra una secuencia de acción y otra – ¡de las cuales hallarás de sobra!</span>
							<span>Controlarás a un personaje llamado Arthur Morgan, miembro de la banda de Van der Linde, y la trama lineal te guiará a través de un arco argumental establecido, en el que deberás completar misiones y cumplir con objetivos a medida que progreses por el juego, orientado por la narrativa general del mismo.</span>
							<span>Una vez completada cada misión, Arthur es libre de vagar por el mundo abierto, explorando a profundidad y descubriendo nuevos lugares y, ocasionalmente, tropezando con nuevas misiones secundarias que podrá llevar a cabo antes de regresar a su punto original para continuar con la narrativa principal del juego.
</span>
							<span>A pensar de contar con arcos argumentales estrictamente trazados, la jugabilidad se basa fuertemente en las acciones del jugador, así que cada una de tus decisiones afectará el rumbo del juego. Puedes demorarte tanto como desees en cada una de tus aventuras, atrapando a villanos que cometen crímenes, auxiliando a personas en apuros o ayudándoles a cumplir sus objetivos mediante la realización de misiones secundarias, o bien, puedes pasar de largo, ignorando a todos los PNJs que encuentres por el camino, con la determinación de llegar a tu próximo destino.</span>
							<span>Una de los principales atractivos del juego es la alta consideración que se la da a la estética de todos los elementos mostrados en pantalla. Tomando esto en cuenta, no es de extrañarse que los desarrolladores hayan puesto una gran cantidad de esfuerzo y detalle para hacer que la jugabilidad, los fondos e incluso los cambios de desplazamiento luzcan lo mejor posible.</span>
							<span>Caballos – hay nuevas razas de caballos que se pueden atrapar, domar y montar, incluyendo al veloz Árabe Atigrado; al Perlino Andaluz, un excelente cazador; al Árabe Castaño, hermoso y rápido; entre otros. Pruébalos todos y descubre cuál es el que mejor se adapta a tu estilo de conducción, lucha y rastreo
Armas de fuego – en esta entrega hay varias armas que solo estaban disponibles en la versión en línea del primer juego, incluyendo el High Roller Revolver y el revólver Le Mat, mientras que la pistola M1899 es una de las novedades para este juego
Talismanes - mantén los ojos bien abiertos en busca de gadgets y amuletos que te ayuden en tu travesía. Estos incluyen un diente de tiburón que te ayuda a mejorar tu vínculo con tu caballo, un caparazón de tortuga que aumenta tu velocidad de recuperación de salud (permanentemente) y un pico de cuervo que incrementa en un 10% la cantidad de munición que obtienes al saquear (también de forma permanente)
Red Dead Redemption 2 para PC está disponible para su compra en Instant Gaming por una fracción de su precio de venta al público. Recibirás una clave oficial y podrás disfrutar del juego en cuestión de segundos. Play smart. Pay less.</span></p>
							</div>
							<div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
								<div class="bootstrap-tab-text-grids">
									<div class="bootstrap-tab-text-grid">
										<div class="bootstrap-tab-text-grid-left">
											
										</div>
										<div class="bootstrap-tab-text-grid-right">
											<ul>
												<li><a href="#">Pepa Bueno</a></li>
												
											</ul>
											<p>Mágnifico juego, de un realismo increíble.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="bootstrap-tab-text-grid">
										<div class="bootstrap-tab-text-grid-left">
											
										</div>
										<div class="bootstrap-tab-text-grid-right">
											<ul>
												<li><a href="#">Carlos Herrera</a></li>
												
											</ul>
											<p>Una auténtica pasada.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="add-review">
										<h4>Comenta</h4>
										<form>
											<input type="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nombre';}" required="">
											<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
											<input type="text" value="Puntuación" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Puntuación';}" required="">
											<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Comentario...';}" required="">Comentario...</textarea>
											<input type="submit" value="Enviar" >
										</form>
									</div>
								</div>
							</div>				
							
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>-->

<div class="single-related-products2">
	<div class="container">
		<span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div>
	</div>	
</div>
<!-- //single -->
<!-- single-related-products -->
	<div class="single-related-products">
		<div class="container">
			<h3 class="animated wow slideInUp" data-wow-delay=".5s">Productos recomendados</h3>
			<p class="est animated wow slideInUp" data-wow-delay=".5s">Los juegos que sabemos que te encantarán</p>
			<div class="new-collections-grids">
				<div class="col-md-3 new-collections-grid">
					<div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".5s">
						<div class="new-collections-grid1-image">
							
							
							
						</div>
						<h4><a href="single.html">GTA V</a></h4>
						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>70€</i> <span class="item_price">40</span><a class="item_add" href="#">Comprar </a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 new-collections-grid">
					<div class="new-collections-grid1-sub">
						<div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".6s">
							
							<h4><a href="single.html">Call of Duty II</a></h4>
							<div class="new-collections-grid1-left simpleCart_shelfItem">
								<p><i>72€</i> <span class="item_price">50</span><a class="item_add" href="#">Comprar </a></p>		</div>
						</div>
					</div>
					<div class="new-collections-grid1-sub">
						<div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".7s">
							
							<h4><a href="single.html">Gran Turismo V</a></h4>
							<div class="new-collections-grid1-left simpleCart_shelfItem">
								<p><i>75€</i> <span class="item_price">49,54</span><a class="item_add" href="#">Comprar</a></p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 new-collections-grid">
					<div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".8s">
						
						<h4><a href="single.html">Sing Star</a></h4>
						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>15€</i> <span class="item_price">0,54</span><a class="item_add" href="#">Comprar</a></p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //single-related-products -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>Somos una tienda online que te vendemos y compramos videojuegos.</span></p>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>


				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="index.html">Gaming Store <span>shop anywhere</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>&copy 2016 Best Store. All rights reserved </p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- zooming-effect -->
	<script src="js/imagezoom.js"></script>
<!-- //zooming-effect -->
</body>
</html>
