{{>header}}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate text-center mb-5">
				<h1 class="mb-2 bread">¡Regístrate ya!</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
	<div class="container">
		<div class="col" style="background-image:url(images/chef-4.jpg);">
			<div class="row">
				<div class="col-sm-4 p-4 p-md-4 d-flex align-items-center justify-content-md-end bg-primary">
					<form action="/newuser" method="post" enctype="multipart/form-data" class="appointment-form">
						<h3 class="mb-3">Registrate</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" name="Name" class="form-control" placeholder="Nombre">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<input type="password" name="encodedPassword" class="form-control" placeholder="Contraseña">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Regístrate" class="btn btn-white py-3 px-4">
									<input type="hidden" name="_csrf" value="{{token}}"/>
									<input type="hidden" name="roles" value="USER"/>
								</div>
								{{#registererror}}
								<p style="color:white;">Credenciales inválidas. Elige otro nombre de usuario.</p>
								{{/registererror}}
							</div>
						</div>
					</form>
				</div>

		</div>
	</div>
</section>
<!-- //register -->
{{>footer}}