{{>header}}
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">User</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- User -->

<div class="userUpdate">
  {{#logged}}
  <div class="container">
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      <h2 class="animated wow zoomIn" data-wow-delay=".5s">{{userName}}</h2>
      <form action="/updateUser" method="post" enctype="multipart/form-data">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Cambiar de contraseña</h3>
        <input  type='password' name="password" placeholder="Introduzca su nueva contraseña" required=" " >

        <input type="hidden" name="_csrf" value="{{token}}"/>
        <p>
          <input type="submit" value="Save"/>
        </p>
      </form>
    </div>
    {{/logged}}


  <h2 class="titulo2">Juegos Comprados</h2>
  <table class="timetable_sub">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Fecha</th>
      <th>Price</th></tr>
    </thead>
    <tr class="rem1">
      <td class="invert">Red dead redemption II</td>
      <td class="invert">15/02/2022</td>
      <td class="invert">60€</td>
    </tr>
    <tr class="rem1">
      <td class="invert">Red dead redemption II</td>
      <td class="invert">15/02/2022</td>
      <td class="invert">60€</td>
    </tr>

  </table>
  <br> <br>
  <h2 class="titulo">Juegos Vendidos</h2>
  <table class="timetable_sub">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Fecha</th>
      <th>Price</th></tr>
    </thead>
    <tr class="rem1">
      <td class="invert">Mario Kart 8 </td>
      <td class="invert">15/02/2022</td>
      <td class="invert">20€</td>
    </tr>
    <tr class="rem1">
      <td class="invert">witcher 3</td>
      <td class="invert">16/02/2022</td>
      <td class="invert">10€</td>
    </tr>

  </table>
</div>
<!-- //User -->
{{>footer}}